@tailwind components;
@layer components {
  .rc-tabs{
    @apply border-0 text-base;
  }
  .custom-tab-bar > .rc-tabs-nav> .rc-tabs-nav-operations > .rc-tabs-nav-more{
    border:none;
  }
 .custom-tab-bar > .rc-tabs-nav {
    @apply max-w-sm sm:max-w-full mb-2;
  }
  .custom-tab-bar > .rc-tabs-nav >.rc-tabs-nav-wrap-ping-left::before{
    content:'';
    border:0;
    margin-top:1rem;
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid black; 
  }
  .custom-tab-bar > .rc-tabs-nav >.rc-tabs-nav-wrap-ping-right::after{
    content:'';
    border:0;
    margin-top:1rem;
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left:10px solid black;
  }
  .custom-tab-bar > .rc-tabs-nav > .rc-tabs-nav-wrap{
    @apply overflow-hidden whitespace-nowrap;
  }
  .custom-tab-bar > .rc-tabs-nav > .rc-tabs-nav-wrap {
    @apply flex border-b m-0 border-indigo-400 cursor-pointer;
  }
  .custom-tab-bar > .rc-tabs-nav > .rc-tabs-nav-wrap > .rc-tabs-nav-list >
    .rc-tabs-tab{
      @apply text-gray-500 hover:text-indigo-800 hover:border-b-2 hover:border-indigo-500 px-4 py-2 text-sm font-medium
    }
  .custom-tab-bar > .rc-tabs-nav > .rc-tabs-nav-wrap > .rc-tabs-nav-list >
  .rc-tabs-tab.rc-tabs-tab-active{
    @apply text-indigo-800 border-b-2 border-indigo-500 px-4 py-2 text-sm font-medium;
  }
  .custom-tab-bar > .rc-tabs-nav > .rc-tabs-nav-wrap > .rc-tabs-nav-list >
  .rc-tabs-tab >
  .rc-tabs-tab-btn{
    @apply focus:outline-none
  }
  .custom-tab-bar> .rc-tabs-content-holder> .rc-tabs-content > .rc-tabs-tabpane{
    @apply focus:outline-none;
  }
  .custom-tab-bar >.rc-tabs-nav > .rc-tabs-nav-wrap > .rc-tabs-nav-list >
  .rc-tabs-ink-bar-animated {
    @apply bg-indigo-500
  }
}